<div class="relative flex-1 px-4 pb-24 pt-12 md:px-8">
  <div class="mx-auto max-w-xl rounded-2xl border border-stone-200 bg-white p-8 text-center shadow-lg">
    <p class="text-stone-600">Przekierowanie do panelu administratora…</p>
  </div>
</div>
<script>location.replace('/admin#halls');</script>
